<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
    </svg>
 </button>
 
 <aside id="default-sidebar" class="w-64 z-index-50 h-screen transition-transform -translate-x-full sm:translate-x-0 border-t-2 border-r" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-white bg-grey-50">
       <ul class="space-y-2 font-medium">
          <li>
             <a [routerLink]="'/dashboard/home'" [routerLinkActive]="'bg-gray-200'" [routerLinkActiveOptions]="{ exact: true }" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-200 transition-all">
               <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#151515" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 9v11a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V9"/><path d="M9 22V12h6v10M2 10.6L12 2l10 8.6"/></svg>
                <span class="ms-3">Home</span>
             </a>
          </li>
          <li>
            <a [routerLink]="'/dashboard/account'" [routerLinkActive]="'bg-gray-200'" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-200 transition-all">
               <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#151515" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
               <span class="ms-3">Accounts</span>
            </a>
         </li>
         <li>
            <a [routerLink]="'/dashboard/invoice'" [routerLinkActive]="'bg-gray-200'" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-200 transition-all">
               <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#151515" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path><line x1="7" y1="7" x2="7.01" y2="7"></line></svg>
               <span class="ms-3">Invoices</span>
            </a>
         </li>
         <li>
            <a [routerLink]="'/dashboard/transaction'" [routerLinkActive]="'bg-gray-200'" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-200 transition-all">
               <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#151515" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 2.1l4 4-4 4"/><path d="M3 12.2v-2a4 4 0 0 1 4-4h12.8M7 21.9l-4-4 4-4"/><path d="M21 11.8v2a4 4 0 0 1-4 4H4.2"/></svg>
               <span class="ms-3">Transactions</span>
            </a>
         </li>
         <li>
            <a [routerLink]="" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-200 transition-all">
               <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#151515" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
               <span class="ms-3">Loans</span>
            </a>
         </li>
         <li>
            <a [routerLink]="" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-200 transition-all">
               <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#151515" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5.52 19c.64-2.2 1.84-3 3.22-3h6.52c1.38 0 2.58.8 3.22 3"/><circle cx="12" cy="10" r="3"/><circle cx="12" cy="12" r="10"/></svg>
               <span class="ms-3">Profile</span>
            </a>
         </li>
       </ul>
    </div>
 </aside>