<main class="w-full h-screen">
    <section class="h-screen flex justify-center items-center">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-[28em] border-2 p-4">
            <div class="text-center p-4 mb-4">
                <h2 class="lg:text-2xl md:text-xl text-md">Login</h2>
            </div>
            <div class="grid gap-6">
                <div class="mb-2">
                    <input formControlName="email" type="email" class="border-2 rounded p-2 w-full" placeholder="Email">
                </div>
                <div class="mb-2">
                    <input formControlName="password" type="password" class="border-2 rounded p-2 w-full" placeholder="Password">
                </div>
                <div class="px-2">
                    <h2>Don't have an account? sign-up <a href="auth/register" class="hover:underline text-blue-600">here</a></h2>
                </div>
                <div class="text-center flex justify-center p-4">
                    <div class="w-10 h-10" *ngIf="isLoading">
                        <img src="assets/public/loading.svg">
                    </div>
                    <button type="submit" *ngIf="!isLoading" class="bg-blue-800 py-2 px-4 rounded text-white hover:bg-blue-900 transition-all">sign-in</button>
                </div>
            </div>
        </form>
    </section>
</main>
